<ion-header>
  <ion-navbar>
    <ion-title>
      bucketList
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="header-question-wrapper">
    <h2 class="header-question">{{this.items?.question}}</h2>
  </div>
  <hr/>

  <button ion-button full large color="dark" 
  *ngIf="(this.items?.option1 | json) != 'null'" 
  (click)="putOption1(1); changeColor(1)" 
  [ngClass]="{'disabled': disabledButton === 1, 'selected': selectedButton === 1 }" class="button-wrap">
  <p class="option_text">{{this.items?.option1}}<br/>
    <span *ngIf="(this.items?.option1 | json) != 'null'" [ngClass]="{'hidden': disabledButton === 0 }">{{percent1 | number : '1.1-1'}}%</span>
    </p>
  </button>

  <button ion-button full large color="dark" 
  *ngIf="(this.items?.option2 | json) != 'null'" 
  (click)="putOption2(1); changeColor(2)" 
  [ngClass]="{'disabled': disabledButton === 1, 'selected': selectedButton === 2 }" class="button-wrap">
  <p class="option_text">{{this.items?.option2}}<br/>
    <span *ngIf="(this.items?.option2 | json) != 'null'" [ngClass]="{'hidden': disabledButton === 0 }">{{percent2 | number : '1.1-1'}}%</span>
    </p>
  </button>

  <button ion-button full large color="dark" 
  *ngIf="(this.items?.option3 | json) != 'null'" 
  (click)="putOption3(1); changeColor(3)" 
  [ngClass]="{'disabled': disabledButton === 1, 'selected': selectedButton === 3 }" class="button-wrap">
  <p class="option_text">{{this.items?.option3}}<br/>
    <span *ngIf="(this.items?.option3 | json) != 'null'" [ngClass]="{'hidden': disabledButton === 0 }">{{percent3 | number : '1.1-1'}}%</span>
    </p>
  </button>

  <button ion-button full large color="dark" 
  *ngIf="(this.items?.option4 | json) != 'null'" 
  (click)="putOption4(1); changeColor(4)" 
  [ngClass]="{'disabled': disabledButton === 1, 'selected': selectedButton === 4 }" class="button-wrap">
  <p class="option_text">{{this.items?.option4}}<br/>
    <span *ngIf="(this.items?.option4 | json) != 'null'" [ngClass]="{'hidden': disabledButton === 0 }">{{percent4 | number : '1.1-1'}}%</span>
    </p>
  </button>

  <br/>
  <div text-center><button ion-button large color="dark" (click)="getWDYT()">Next&nbsp;<ion-icon name="arrow-forward"></ion-icon></button></div>
  <hr/>
  <!--
    https://valor-software.com/ng2-charts/
    https://www.joshmorony.com/adding-responsive-charts-graphs-to-ionic-2-applications/
  -->

  <div [ngClass]="{'hidden': disabledButton === 0 }">
    <ion-card>
        <!-- <ion-card-header>
          Bar Chart
        </ion-card-header> -->
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content>
      </ion-card>
    </div>
 
    <!-- <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> -->



</ion-content>
