// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//HEADER QUESTION
.header-question-wrapper{
    border-radius:25px;
    border: thick solid #222;
    //background: #1dcaff;
    padding:10px;
}
.header-question{
    margin-top:20px;
    text-align:center;
}


//OPTION BUTTONS
.option_text{
    font-size:60%;
}
.button-wrap{
    white-space: inherit;
    //float:left;
}
.hidden{
    visibility:hidden;
}
.disabled{
    pointer-events: none;
    //visibility: hidden;
}
.selected{
    background-color:green;
}